*{
    margin: 0;
    padding: 0;
}
.container{
  width: 100vw;
  height: 100%;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradientBG 15s ease infinite;
}
@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.navbar{
background: rgba(255, 255, 255, 0.16);
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(2.2px);
-webkit-backdrop-filter: blur(2.2px);
border: 1px solid rgba(255, 255, 255, 0.3);
display: flex;
padding: 1rem;
justify-content: center;
flex-wrap: wrap;
color: snow;
}

.card-uper > img{
 width: 10rem;
 height: 10rem;
 border-radius: 5rem;
}

.card-uper{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-box{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  flex-direction: column;
}

.input{
  display: flex;
  align-items: center;
  padding: 5px;
}
.input > input{
  padding: .3rem;
  outline-width: 0;
  border-width: 0;
}
.input > .MuiSvgIcon-root{
   color: snow;
   margin: .6rem;
   font-size: 1.8rem;
}

.card-uper-details{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-name{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.user-name > h1{
  font-size: 1.8rem;
  color: snow;
}

.user-follow{
  font-size: 1.8rem;
  font-weight: bold;
  color: snow;
}
.black{
  color: black;
  padding-right: 8px;
}
.detail{
  display: flex;
  padding: 1rem;
}
.socialmedia >img{
  width: 3rem;
  padding: 1rem;
  cursor: pointer;
}
.card-lower{
 display: flex;
 flex-direction: column;
 align-items: center;
}

.user-work{
  font-size: 1.6rem;
  font-weight: bold;
}
.user-work {
  color: snow;
}

