*{
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: calc(10px + 2vmin);
  text-align: center;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradientBG 15s ease infinite;
  padding: 2rem;
}
@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.navbar{
  padding: 2rem;
background: rgba(255, 255, 255, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(1.3px);
-webkit-backdrop-filter: blur(1.3px);
border: 1px solid rgba(255, 255, 255, 0.11);
}
.searchbar > input{
outline-width: 0;
border-width: 0;
padding: .7rem;
border-radius: 1.4rem 0 0 1.4rem;
}
.searchbar > button{
  outline-width: 0;
border-width: 0;
padding: .7rem;
border-radius: 0 1.4rem 1.4rem 0;
cursor: pointer;
background: gray;
}
.searchbar > button:hover{
  background: rgb(82, 99, 105);
}

.detail-card{
  margin: 2rem;
  background: rgba(255, 255, 255, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(1.3px);
-webkit-backdrop-filter: blur(1.3px);
border: 1px solid rgba(255, 255, 255, 0.11);
padding: 1rem;
display: flex;
flex-direction: column;
}

.uper-part{
 flex: .7;
 background: rgb(223, 8, 8);
}
.lower-part{
  flex: .3;
  background: blue;
}


