*{
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: calc(10px + 2vmin);
  text-align: center;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradientBG 15s ease infinite;
  padding: 2rem;
}
@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.navbar{
  padding: 2rem;
  width: fit-content;
background: rgba(255, 255, 255, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(1.3px);
-webkit-backdrop-filter: blur(1.3px);
border: 1px solid rgba(255, 255, 255, 0.11);
}
.searchbar > input{
outline-width: 0;
border-width: 0;
padding: .7rem;
border-radius: 1.4rem 0 0 1.4rem;
}
.searchbar > button{
  outline-width: 0;
border-width: 0;
padding: .7rem;
border-radius: 0 1.4rem 1.4rem 0;
cursor: pointer;
background: gray;
}
.searchbar > button:hover{
  background: rgb(82, 99, 105);
}

.detail-card{
  margin: 2rem;
  background: rgba(8, 233, 233, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(1.3px);
-webkit-backdrop-filter: blur(1.3px);
border: 1px solid rgba(255, 255, 255, 0.11);
padding: 1rem;
display: flex;
flex-direction: column;
}

.uper-part{
 flex: .7;
 display: flex;
 align-items: center;
 justify-content: center;
 padding: 1rem;
}
.uper-part > img{
  width: 15rem;
  height: 15rem;
  border-radius: 10rem;
}

.name-follow{
  display: flex;
  flex-direction: column;
}
.name-follow > h1{
  font-size: 2.4rem;
}

.user-detail{
  display: flex;
}

.project{
  display: flex;
  font-size: 1.5rem;
  padding: .8rem;
  font-weight: lighter;
  align-items: center;
}
.project > p{
  font-weight: bold;
  color: rgb(14, 10, 10);
  padding: .3rem;
}
.work{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.work > h1{
  font-size: 1.8rem;
}

.lower-part{
  flex: .3;
  display: flex;
  align-items: center;
  justify-content: center;
}
.lower-part > button{
  padding: .8rem;
  width: 10rem;
  height: 3rem;
  background: blue;
  color: snow;
  font-size: 1rem;
  font-weight: bold;
  border: none;
}


